.dockerignore
.env
.git
.gitignore
.idea/
.pytest_cache/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
docs/
notebooks/
tests/
README.md
CONTRIBUTING.md
LICENSE
.pre-commit-config.yaml
Dockerfile
docker-compose.yml
